@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

html,
body {
  overflow: hidden;
  background: #000;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

#canvas {
  border: 3px solid #fff;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 30px #8a49a7;
}

.wrap {
  text-align: center;
  margin: auto;
  position: relative;
}

.head {
  display: inline-block;
  margin: 30px 0px;
}

.title-en,
.title-jp {
  color: #fff;
  font-family: "Cinzel Decorative", cursive;
}

.title-en {
  width: 550px;
}

div.title-jp {
  width: 125px;
  font-size: 40px;
  margin-left: auto;
  margin-right: 0px;
}

.title-en::before {
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.title-jp::before {
  animation: noise-anim-2 3s infinite linear alternate-reverse 0.3s;
}

.title-en::after {
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.title-jp::after {
  animation: noise-anim 2s infinite linear alternate-reverse 0.3s;
}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  margin: 0 auto;
}

@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -2px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}
